*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}

.container{
    max-width: 1105px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}

.nav-li{
    display: inline-block;
}

.nav-li:not(:last-of-type){
    margin-right: 94px;
}

.nav-link{
    color: black;
    text-decoration: none;
}

.nav-link:hover{
    color: #FA4A0C;
}

.app{
    background-image: url('../img/B-g1.png');
    color: white;
    text-align: center;
    padding: 80px 0 162px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.app-pretitle{
    font-weight bold;
    font-size: 24px;
    Line height: 36px;
}

.app-title{
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    max-width: 650px;
   margin: 10px auto;
}

.app-text{
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 54px;
}

.button{
    width: 236px;
    height: 68px;
    color: white;
    border-radius: 30px;
    font-size: 24px;
    line-height: 36px;
}

.button:first-of-type{
    background: #FA4A0C;
    border: 1px solid #FA4A0C;
    margin-right: 67px;

}

.button:last-of-type{
    background: none;
    border: 1px solid white;
}

.app1{
    background-image: url('../img/b-g2.png');
    color: white;
    text-align: center;
    padding: 146.9px 0 131.1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.app1-pretitle{
    font-weight: Bold;
    font-size: 40px;
    line-height: 57px;
    margin-bottom: 20px;
}

.app1-text{
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 59px;
}

.button1{
    height: 64px;
    color: white;
    border-radius: 10px;
    font-weight: Bold;
    line-height: 28px;
    cursor: pointer;
}

.button1:first-of-type{
    background: #FA4A0C;
    border: 1px solid #FA4A0C ;
    margin-right: 16px;
    width: 142px;
    
}

.button1:last-of-type{
    background: none;
    border: 1px solid white;
    width: 173px;
}

.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}

.mobile-pretitle{
    font-weight: Bold;
    font-size: 24px;
    line-height: 36px;
    color: #FA4A0C;
}

.mobile-title{
    font-weight: Bold;
    font-size: 40px; 
    line-height: 57px;
    max-width: 450px;
}

.mobile-text{
    font-size: 24px;
    line-height: 38px;
    color: #737373;
    max-width: 400px;
}

.how{
    color: #000000;
    font-weight: Bold;
    font-size: 44px;
    line-height: 36px;
    text-align: center;
    margin: 56px 0 70px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
    
}